/* 동생챙겨 설명 부분 */
p {
    margin: 0;
    text-align: center;
}

.root {
    align-items: center;
    justify-content: center;
}

.intro {
    display: flex;
    flex-direction: column;
}

/* 동국대 학생들아 혜택 챙겨! */
.intro__title {
    display: flex;
    justify-content: center;
    font-family: 'HancomMalangMalang';
    font-weight: 700;
    font-size: 24px;
    color: #404040;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 82px;
}

/*글자 색상 강조*/
.highlight {
    color: #FFA337;
}

.highlight2 {
    color: #FF7700;
    font-weight: 700;
}

.intro__content {
    display: flex;
    justify-content: center;
    color: #404040;
    font-family: 'NotoSansKR';
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: -0.5px;
    margin-top: 10px;
}

/*로고 설명*/
.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.logo__img img{
    width: 80px;
    height: 90px;
}

.logo__describe {
    display: flex;
    font-family: 'HancomMalangMalang';
    color: rgba(129, 78, 1, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    align-items: center;
} 

/*글자 색상 강조*/
.highlight3 {
    color: rgba(255, 119, 0, 1);
}

.highlight4 {
    color: rgba(255, 143, 11, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

/*메인페이지로 이동 버튼*/
.move-mainpage-button {
    display: flex;
    width: 200px;
    height: 57px;
    background: #FFA337;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    
    font-family: 'HancomMalangMalang';
    font-weight: 700;
    font-size: 16px;
    color: #FCFAF7;

    margin-top: 54px;

    text-decoration: none;
    /* 버튼 밑에 그림자 */
    /* box-shadow: 0px 5px 0px 0px #A66615; */
}

.move-mainpage-button:hover {
    background: #FF8E00;
}

/*team 소개*/
.team {
    display: flex;
    flex-direction: column;

}

.team__name {
    display: flex;
    justify-content: center;
    font-family: 'HancomMalangMalang';
    font-weight: 400;
    font-size: 12px;
    color: #FF7700;
    
    margin-top: 57px;
}

.team__member {
    margin-top: 18px;
}

.team__member img {
    width: 283px;
    height: 196px;
}