body {
  background: #fcfaf7;
  margin: 0;
}

.root {
  align-items: center;
  justify-content: center;
}


/* content */
.total-benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 동국대 전체 학생 할인 박스 */
.total-benefit__button {
  display: flex;
  width: 200px;
  height: 40px;
  margin-top: 60px;

  background: #ffa337;
  border-radius: 50px;
  justify-content: center;
  align-items: center;

  font-family: "HancomMalangMalang";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  color: #fcfaf7;
}

.total-benefit__describe {
  display: flex;
  margin-top: 5px;
  font-family: "NotoSansKR";


  font-size: 10px;
  line-height: 17px;
  text-align: center;
  color: #404040;
}

.highlight1 {
  font-weight: bold;
  color: rgba(255, 119, 0, 1);
}

.highlight2 {
  color: rgba(255, 143, 11, 1);
}


/* 혜택 슬라이드 */
.total-benefit-content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.total-benefit-content__item {
  display: flex;
  flex-direction: column;
}

.total-benefit-content__item__category {
  display: flex;
  margin-left: 58px;
  font-family: "HancomMalangMalang";
  font-weight: bold;
  font-size: 15px;
  color: #ec6130;
}

.total-benefit-content__item__slide {
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  width: 390px;
  height: 185px;
  background: rgba(255, 218, 175, 0.5);
}

.arrow-left {
  position: absolute;
  width: 20px;
  left: 3.57%;
  top: 45.96%;
}

.arrow-right {
  position: absolute;
  width: 20px;
  right: 3.57%;
  top: 45.96%;
}

.total-benefit-content__item__slide__background1 {
  position: absolute;
  width: 135px;
  height: 150px;
  left: 13%;
  top: 10%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.total-benefit-content__item__slide__background2 {
  position: absolute;
  width: 135px;
  height: 150px;
  left: 53%;
  top: 10%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.taegeukdang {
  position: absolute;
  width: 135px;
  height: 75px;
  border-radius: 15px 15px 0px 0px;
}

.slide-content {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  width: 53%;
  height: 10%;
  left: 7%;
  top: 52%;
}

.name {
  margin: 0px;
  font-family: "HancomMalangMalang";
  font-weight: bold;
  font-size: 10px;
  color: #404040;
  margin-right: 10%;
}

.star {
  font-size: 10px;
  margin-right: 3%;
}

.star-count {
  display: flex;
  align-items: center;
  font-family: "NanumSquareNeo-regular";
  font-size: 6px;
  color: #404040;
}

.time {
  left: 7%;
  top: 64%;
  position: absolute;
  font-family: "NanumSquareNeo-regular";
  font-size: 8px;
  color: #404040;
}

.benefit {
  width: 120px;
  height: 9px;
  left: 7%;
  bottom: 15%;
  position: absolute;
  font-family: "NanumSquareNeo-Extra-bold";
  letter-spacing: -1.5px;
  font-size: 8px;
  font-style: normal;
  line-height: 10px;
  color: #ffa337;
}

.calendar {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 95px;
  top: 82px;
}

.heart {
  position: absolute;
  box-sizing: border-box;
  left: 110px;
  top: 76px;
}

/* 두 번째 슬라이드는 배경색-하얀색 */
.total-benefit-content__item:nth-child(2) .total-benefit-content__item__slide {
  background: white;
  margin-top: 5px;
  margin-bottom: 20px;
}

.total-benefit-content__item:nth-child(2) .total-benefit-content__item__category {
  margin-top: 20px;
}


/* 단과대학별 */
.college {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 40px;
}

/* 단과대학별 버튼 */
.college-button {
  width: 115px;
  height: 80px;
  background: #ffffff;
  border: 0.5px solid rgba(64, 64, 64, 0.5);
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* 단과대학별 버튼 - title */
.college-benefit__title {
  left: 16px;
  top: 22px;
  position: absolute;
  font-family: "HancomMalangMalang";
  font-weight: bold;
  font-size: 10px;
  color: rgba(64, 64, 64, 0.5);
}

/* 단과대학별 버튼 - 보러가기 */
.college-benefit__go {
  position: absolute;
  left: 15%;
  top: 76%;
  font-family: "HancomMalangMalang";
  font-size: 8px;
  color: #404040;
}

/* 단과대학별 버튼 - 화살표 */
.college-benefit__arrow {
  position: absolute;
  right:15%;
  top: 76%;
  font-size: 11px;
}

/*highlight*/
.highlight3 {
  color: rgba(236, 97, 48, 1);
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 390px;
  height: 100px;
  bottom: 0;
  font-size: 6px;
  font-family: 'NotoSansKR';
  background: rgba(255, 218, 175, 0.5);
  color: #404040;
}
