.navbar__menu li:nth-child(1) {
    padding: 0;
}

.navbar__menu li:nth-child(1) a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 30px;
    background: rgba(255, 143, 11, 0.5);
    border-radius: 50px;
}

/* 단과대학 선택 페이지 이동 버튼 */
.move-selectpage-button {
    display: flex;
    margin-left: 40px;
    margin-top: 35px;
}

/* oo대학 제휴혜택 */
.title {
    display: flex;
    margin-top: 22px;
    margin-left: 40px;

    font-family: 'HancomMalangMalang';
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #EC6130;
}

/* oo대학 제휴혜택 페이지 소개 */
.introduce {
    display: flex;
    margin-top: 11px;
    margin-left: 40px;

    font-family: 'NotoSansKR';
    font-weight: 500;
    font-size: 8px;
    line-height: 12px;
    color: #404040;

    border-left: 2px solid #EC6130;
    padding: 5px 0px 5px 10px;
}

/* 줄 생성 */
.line {
    border-bottom: 1px solid #EAEAEA;
    margin: 8.5px 40px 0px 40px;
}

/* 카테고리 */
.menu {
    margin-left: 40px;
    margin-right: 40px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.menu li a {
    display: flex;
    font-family: 'HancomMalangMalang';
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    color: #814E01;
    position: relative;
    margin-top: 22.5px;
}

.menu li a::before {
    content: "";
    height: 1px;
    width: 0px;
    background-color: #814E01;
    border-radius: 10px;
    transition: 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: bold;
}

.menu li a:hover::before {
    width: 100%;
    background-color: #814E01;
}

/* 마우스 올렸을 때, 폰트 bold로 변화 */
.menu li a:hover {
    font-weight: bold;
}

/* 제휴혜택 card */
.content {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
}

.card__item {
    display: flex;
    position: relative;
    width: 135px;
    height: 150px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-left: 40px;
    margin-top: 31px;
}

.card__item__img {
    position: absolute;
    width: 135px;
    height: 75px;
    border-radius: 15px 15px 0px 0px;
}

.card__content {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    width: 53%;
    height: 10%;
    left: 7%;
    top: 52%;
}

.name {
    margin: 0px;
    font-family: "HancomMalangMalang";
    font-weight: bold;
    font-size: 10px;
    color: #404040;
    margin-right: 10%;
}

.star {
    font-size: 10px;
    margin-right: 3%;
}

.star-count {
    display: flex;
    align-items: center;
    font-family: "NanumSquareNeo-regular";
    font-size: 6px;
    color: #404040;
}

.time {
    left: 7%;
    top: 64%;
    position: absolute;
    font-family: "NanumSquareNeo-regular";
    font-size: 8px;
    color: #404040;
}

.benefit {
    width: 120px;
    height: 9px;
    left: 7%;
    bottom: 15%;
    position: absolute;
    font-family: "NanumSquareNeo-Extra-bold";
    letter-spacing: -1.5px;
    font-size: 8px;
    font-style: normal;
    line-height: 10px;
    color: #ffa337;
}

.calendar {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 95px;
    top: 82px;
}

.heart {
    position: absolute;
    box-sizing: border-box;
    left: 110px;
    top: 76px;
}

/* 혜택 기간이 지난 게시물 */
.card__item__end {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 135px;
    height: 150px;
    background: rgba(217, 217, 217, 0.5);
    border-radius: 15px;
    z-index: 5;
}

.card__item__end p {
    position: absolute;
    font-family: 'NotoSansKR';
    font-weight: bold;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #000000;

    margin-top: 30px;
}

