.navbar__menu li:nth-child(1) {
    padding: 0;
}

.navbar__menu li:nth-child(1) a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 30px;
    background: rgba(255, 143, 11, 0.5);
    border-radius: 50px;
}

.vector {
    padding: 35px 0px 37px 47px;
}

/* card */
.card {
    width: 322px;
    height: 465px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 20% 20% 10% 10%;
    font-family: 'NanumSquare Neo';
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-img {
    height: 200px;
    width: 322px;
    display: flex;
}

.store-img {
    height: 200px;
    width: 322px;
    background-size: cover;
    border-radius: 20% 20% 0% 0%;
}


/* card head */
.card-head {
    padding: 10px 0px 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25px;
    font-family: 'NanumSquareNeo-900';

}

.stars {
    padding: 0px 5px 0px 0px;
}

.grade {
    font-size: 8px;
    font-family: NotoSansKR;
}

.grades {
    font-family: HancomMalangMalang;
    font-size: 10px;
    padding: 0px 0px 0px 5px;
}

.heart {
    padding: 0px 15px 0px 0px;
}

.head-content {
    display: flex;
    flex-direction: row;
}

.title_hr {
    width: 20px;
    transform:rotate(90deg);
    background: #CCC9C9;
    border: 0;
    height: 1px;
    position: relative; 
    top: 4px; 
}

.store-title {
    font-family: HancomMalangMalang;
    font-weight: bold;
    font-size: 20px;
}

/* card main */
.card-main {
    padding: 0px 0px 0px 15px;
    /* height: 95px; */
    font-family: 'NanumSquare Neo';
    font-weight: normal;
}

.time {
    font-size: 10px;
    padding: 10px 0px 0px 0px;
}

.address {
    font-size: 10px;
    padding: 5px 0px 0px 0px;
}

.benefit {
    font-family: NanumSquareNeo-900;
    font-size: 10px;
    padding: 5px 0px 0px 0px;
    color: #FFA337;
}

.dates {
    display: flex;
    flex-direction: row;
    padding: 10px 0px 5px 0px;
}

.date {
    font-size: 6px;
}

.comment-hr {
    background: #CCC9C9;
    border: 0;
    width: 320px; 
    height: 1px;
}
/* card comment */

.card-comment {
    display: flex;
    flex-direction: column;
    height: 145px;
    border-radius: 0% 0% 20% 20%;
    padding: 0px 0px 0px 15px;
}

.user-information {
    display: flex;
    justify-content: space-between;
}

.comment-count {
    font-family: HancomMalangMalang;
    font-size: 10px;
    color: #404040;
}

.users {
    display: flex;
    flex-direction: row;
}

.nickname {
    font-family: NotoSansKR;
    font-weight: bold;
    font-size: 10px;
}

.comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px 0px 0px;
}

.likes {
    display: flex;
    flex-direction: row;
}

.like {
    padding: 0px 0px 0px 5px;
    font-size: 8px;
    font-family: NotoSansKR;
}

.content {
    font-family: NotoSansKR;
    font-size: 10px;
    color: #404040;
    padding: 3px 0px 0px 0px;
}

.comment-date {
    font-size: 8px;
    color: #B3B3B3;
    padding: 3px 0px 0px 0px;
}

.margin {
    margin-top: 93px;
}


/* review */
.root {
    position: relative;
}

.gray-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    opacity: 50%;
    z-index: 1;
}


.review-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    background-color: #ffffff;
    height: 350px;
    width: 320px;
    z-index: 2;
    border-radius: 10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.store-name {
    color:#FF8F0B;
    font-size: 18px;
}

.refresh {
    margin-left: 10px;
}


.question {
    text-align: center;
    font-family: HancomMalangMalang;
    font-weight: bold;
    font-size: 15px;
}

.evaluation {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.input-comment {
    font-size: 10px;
    text-align: top;
    padding-left: 5px;
    margin-top: 10px;
    background-color: #D9D9D9;
    opacity: 50%;
    height: 150px; 
    width: 235px;
    border: 0px;
    border-radius: 10%;
}

.cancel {
    font-family: HancomMalangMalang;
    font-size: 12px;
    width: 55px;
    height: 26px;
    background-color: #FFDAAF;
    color: #FF7700;
    border: 0px;
    border-radius: 10%;
}

.submit {
    font-family: HancomMalangMalang;
    font-size: 12px;
    width: 55px;
    height: 26px;
    background-color: #FF7700;
    color: #FFDAAF;
    border: 0px;
    border-radius: 10%;
}

.buttons {
    padding: 20px 0px 0px 150px;
}